{% extends "base.html" %}
{% load static %}

{% block head_content %}
<title>@{{ request.usuario.username }} | Update profile</title>
{% endblock %}

{% block container %}

<div class="container">

    <div class="row justify-content-md-center">
        <div class="col-6 p-4" id="profile-box">

            <form action="{% url 'usuarios:update' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="media">
                    {% if perfil.picture %}
                        <img src="{{ perfil.picture.url }}" class="rounded-circle" height="50" />
                    {% else%}
                        <img src="{% static 'img/default-profile.png' %}" class="rounded-circle" height="50" />
                    {% endif %}

                    <div class="media-body">
                        <h5 class="ml-4">@{{ usuario.username }} | {{ usuario.get_full_name }}</h5>
                        <p class="ml-4"><input type="file" name="picture"></p>
                    </div>
                </div>

                {% for error in form.picture.errors %}
                <div class="alert alert-danger">
                    <b>Picture: </b>{{ error }}
                </div>
                {% endfor %}

                <hr><br>

                {# Estado field #}
                <div class="form-group">
                    <label>Estado</label>
                    <input
                        class="form-control {% if form.estado.errors %}is-invalid{% endif %}"
                        type="text"
                        name="estado"
                        placeholder="Estado"
                        value="{% if form.errors %}{{ form.estado.value }}{% else %}{{ perfil.estado }}{% endif %}"
                    />
                    <div class="invalid-feedback">
                        {% for error in form.estado.errors %}
                            {{ error }}
                        {% endfor%}
                    </div>
                </div>

                {# Telefono field #}
                <div class="form-group">
                    <label>Telefono</label>
                    <input
                        class="form-control {% if form.telefono.errors %}is-invalid{% endif %}"
                        type="text"
                        name="telefono"
                        placeholder="Telefono"
                        value="{% if form.errors %}{{ form.telefono.value }}{% else %}{{ perfil.telefono }}{% endif %}"
                    />
                    <div class="invalid-feedback">
                        {% for error in form.telefono.errors %}
                            {{ error }}
                        {% endfor%}
                    </div>
                </div>

                {# Direccion field #}
                <div class="form-group">
                    <label>Direccion</label>
                    <textarea
                        class="form-control {% if form.direccion.errors %}is-invalid{% endif %}"
                        name="direccion"
                    >{% if form.errors %}{{ form.direccion.value }}{% else %}{{ perfil.direccion }}{% endif %}</textarea>

                    <div class="invalid-feedback">
                        {% for error in form.telefono.errors %}
                            {{ error }}
                        {% endfor%}
                    </div>
                </div>
                <button type="submit" class="btn btn-primary btn-block mt-5">Update info</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}
