{% load static %}
<nav class="navbar navbar-expand-lg fixed-top" id="main-navbar">
    <div class="container">

        <a class="navbar-brand pr-5" style="border-right: 1px solid #efefef;" href="{% url "proyectos:feed" %}">
            <img src="{% static "img/descarga.png" %}" height="45" class="d-inline-block align-top"/>
        </a>

        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item">
                    <a href="{% url "usuarios:detail" request.user.username %}">
                        {% if request.usuario.perfil.picture %}
                            <img src="{{ request.usuario.perfil.picture.url }}" height="35" class="d-inline-block align-top rounded-circle"/>
                        {% else%}
                            <img src="{% static 'img/default-profile.png' %}" height="35" class="d-inline-block align-top rounded-circle"/>
                        {% endif %}
                    </a>
                </li>                

                <li class="nav-item dropdown">
                        <a style='text-decoration:none;' class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                          Proyectos                   

                        </a>
                        <div class="dropdown-menu">
                          <a class="dropdown-item" href="{% url 'proyectos:create' %}">Crear Proyectos</a>
                          <a class="dropdown-item" href="{% url 'proyectos:listar' %}">Listar</a>
                        </div>
                      </li>
                      <li class="nav-item dropdown">
                            <a style='text-decoration:none;' class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                              Usuarios                   
    
                            </a>
                            <div class="dropdown-menu">
                              <a class="dropdown-item" href="{% url "usuarios:create" %}">Crear Usuario 1</a>
                              <a class="dropdown-item" href="#">listar</a>
                            </div>
                          </li>                      
                          <li class="nav-item dropdown">
                                <a style='text-decoration:none;' class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                                  linea base                   
        
                                </a>
                                <div class="dropdown-menu">
                                  <a class="dropdown-item" href="{% url 'lineasBase:create' %}">Crear linea base</a>
                                  <a class="dropdown-item" href="{% url 'lineasBase:listar' %}">listar</a>
                                </div>
                              </li>   
                          
                          <li class="nav-item dropdown">
                            <a style='text-decoration:none;' class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                              Item
                            </a>
                            <div class="dropdown-menu">
                              <a class="dropdown-item" href="{% url 'item:create' %}">Crear item</a>
                              <a class="dropdown-item" href="{% url 'item:listar' %}">Listar</a>
                            </div>
                          </li>    
                <li class="nav-item nav-icon">
                    <a href="{% url "usuarios:asignar" %}">
                        <i class="fas fa-plus"></i>
                    </a>
                </li>

                <li class="nav-item nav-icon">
                    <a href="{% url "usuarios:logout" %}">
                        <i class="fas fa-sign-out-alt"></i>
                    </a>
                </li>

            </ul>
        </div>
    </div>
</nav>
