{% extends "base.html" %}

{% block head_content %}
<title>Crear linea base</title>
{% endblock %}

{% block container %}
<div class="container">

<div class="row justify-content-md-center">

    <div class="col-6 pt-3 pb-3" id="profile-box">

        <h4 class="mb-4">Crea nueva linea base</h4>

    <form action="{% url 'lineasBase:create' %}" method="POST">
        {% csrf_token %}

        {{ form.as_p }}

        <button class="btn btn-primary btn-block mt-5" type="submit">Crear linea base</button>
    </form>
</div>
</div>    
</div>    

{% endblock %}



