{% extends "base.html" %}

{% block container %}
<div class="container">

        <div class="row justify-content-md-center">
                    <div class="col-6 pt-3 pb-3" id="profile-box">
        <form method="POST"  >
            <h2 style="color:black">Editar Lineas Base</h2>
            {% csrf_token %}
           {{ form.as_p }}
                       
           <button type="submit" class="btn btn-primary btn-block mt-5">SAVE</button>
        </form>
    </div>
</div>
</div>

{% endblock %}  